
/** general **/
*{
    box-sizing: border-box;
}

:root{
    --light-grey: #F3F3F3;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --light-green: #99E2D0;
    --dark-green: #008766;
    --light-blue: #89C8FA;
    --dark-blue: #003A68;
    --purple: #9356DC;
    --background-grey: #EAEAEA;
    --background-light-grey: #F6F6F6;
    --background-footer: #353535;
}

body, h1, h2, h3{
    margin: 0;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

h4{
    margin: 0;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

@mixin flex-align-center{
    display: flex;
    align-items: center;
}

.main-container{
    min-width: 375px;
}

.bordure-phone{
    width: 84%;
    @media screen and (max-width: 768px){
        width: 75%;
    }
}


/** debut animation et transition **/




/** debut mixin bouton et survol **/
@mixin btn{
    border-radius: 25px;
    box-shadow: 0 4px 10px 0 darken(#000000, 25%);
    background: linear-gradient(#FF79DA, #9356DC);
    font-weight: 500;
    color: var(--white-color);
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

@mixin survol-btn{
    background: lighten(#9356DC, 15%);
    box-shadow: 0 4px 15px 0 darken(#000000, 35%);
}
/** fin mixin bouton et survol**/

/** debut coeur **/
.coeur{
    margin-left: auto;
    height: 20px;
    width: 20px;
    position: relative;
    & .fa-heart{
        font-size: 21px;
    }
    & .fa-regular{
        position: absolute;
        }
    & .fa-solid{
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    color: transparent;
    position: absolute;
    opacity: 0;
    transition: all 500ms ease-in-out;
        &:active{
            opacity: 1;
            }
        &:hover{
            @media screen and (min-width: 1024px){
                opacity: 1;
            }
        }
    }   
}
/** fin coeur **/

/** debut loader **/

.loader{
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    opacity: 0.97;
    animation: reduire-loader 500ms 1500ms forwards;
    @include flex-align-center;
    justify-content: center;
    .cercle{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        @include flex-align-center;
        justify-content: center;
        background: linear-gradient(#FF79DA, #9356DC);
        border: solid var(--light-green) 10px;
        transform: scale(1);
        animation: cercle 500ms ease 3;
    }
    & p{
        color: var(--light-green);
        font-size: 32px;
        font-family: "Shrikhand", serif;
        font-weight: 700;
    }
}

@keyframes cercle{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(0.9);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes reduire-loader{
    to{
        visibility: hidden;
    }
}

/** fin loader**/

/** fin animation et transition **/


/* ***************************************** */
/** header **/
header{
@include flex-align-center;
flex-direction: column;
    a{
        width: 100%;
        height: 63px;
        @include flex-align-center;
        justify-content: center;
        position: relative;
        img{
            width: 162px;
            height: 44px;
        }.fleche{
            width: 30px;
            height: 30px;
            position: absolute;
            left: 6%;
        }
    }
    div{
        height: 50px;
        @include flex-align-center;
        background: var(--background-grey);
        width: 100%;
        justify-content: center;
        gap: 10px;
        box-shadow: 0px 4px 4px 0px darken(#000000, 25%);
    }
}

.title{
    height: 287px;
    @include flex-align-center;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--light-grey);
    text-align: center;
    h1{
        width: 70%;
    }
    &>p{
    width: 84%;
    @media screen and (min-width: 768px){
        width: 100%;
    }

    }
    a{
        @include btn;
        width: 218px;
        height: 50px;
        &:active{
        @include survol-btn;
        }
        &:hover{
            @media screen and (min-width: 1024px){
                @include survol-btn;
            }
        }
    }
}

.h2fonctionnement{
    height: 440px;
    @include flex-align-center;
    justify-content: space-around;
    @media screen and (min-width: 1024px){
        height: 228px;
    }
    h2{
        font-weight: 700;
    }
    h3{
        color: var(--black-color);
        font-weight: 500;
    }
    .fonctionnement{
        @include flex-align-center;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        counter-reset: numero;
        @media screen and (min-width: 1024px){
            flex-direction: row;
        }
        a{
            width: 100%;
            text-decoration: none;
        }

        }
        .fa-mobile-screen-button, .fa-list-ul{
            color: #7E7E7E;
        }
        .fonctionnement__button{
            @include flex-align-center;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            background: var(--background-light-grey);
            border-radius: 20px;
            height: 72px;
            width: 100%;
            position: relative;
        }
        .fonctionnement__button::before{
            content: "" counter(numero);
            counter-increment: numero; 
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 20px;
            background: var(--purple);
            color: var(--white-color);
            position: absolute;
            left: -9px;
        h3{
            color: var(--black-color)
        }
        
    }
}

.h2-resto{
    background: var(--light-grey);
    @include flex-align-center;
    justify-content: space-around;
    padding: 40px 0;
    img{
        object-fit: cover;
        height: 180px;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    .restaurants{
        @include flex-align-center;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        width: 100%;
        @media screen and (min-width: 768px){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        a{
            height: 240px;
            width: 100%;
            background: var(--white-color);
            border-radius: 15px 15px 0 0;
            position: relative;
            text-decoration: none;
            @media screen and (min-width: 768px){
                width: 45%;                
            }
        }
        .nouveau::before{
            content:"nouveau";
            width: 80px;
            height: 29px;
            text-align: center;
            line-height: 29px;
            position: absolute;
            border-radius: 2px;
            background: var(--light-green);
            color: #008766;
            box-shadow: 0 2px 4px 0 darken(#000000, 15%);
            right: 4%;
            top: 7%;
        }
        .info-resto{
            color: var(--black-color);
            display: grid;
            grid-template-columns: 90% 10%;
            grid-template-rows: 25% 30%;
            .coeur{
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                left: -30px;
            }
            h3{
                font-weight: 700;
            }
            p{
                grid-column: 1 / 2;
                font-weight: 300;
            }
        }
    }
}

footer{
    background: var(--background-footer);
    padding-top: 40px;
    border-bottom: 1px solid var(--background-footer);
    @include flex-align-center;
    flex-direction: column;
    
    div{
        @media screen and (min-width: 1024px){
            @include flex-align-center;
            flex-direction: row-reverse;
            gap: 50px;
            position: relative;
            right: -80px;
        }
    }
    ul{
        list-style: none;
        display: flex;
        gap: 15px;
        flex-direction: column;
        padding: 0; 
        @media screen and (min-width: 768px){
            flex-direction: row;
        }
        a{
            color: var(--white-color);
            text-decoration: none;
        }
        li:nth-child(-n+2){
            font-weight: 500;
        }
        i{
            margin-right: 15px;
        }
    } 
}

/** carte restaurant **/
.conteneur-menu{
    @include flex-align-center;
    flex-direction: column;
    .menu-img{
        height: 275px;
        width: 100%;
        img{
            object-fit: cover;
            height: 275px;
            width: 100%;
            position: absolute;
        }
    }
    .contour-menu{
        width: 100%;
        @include flex-align-center;
        flex-direction: column;
        border-radius: 30px 30px 0 0;
        position: relative;
        padding: 30px 0 45px 0;
        top: -45px;
        margin-bottom: -45px;
        background-color: var(--background-grey);
        z-index: 1;
        @media screen and (min-width: 1024px){
            width: 80%;         
        }
    }
    .menu{
        width: 88%;
        display: flex;
        flex-direction: column;
        gap: 25px; 
        .menu-h2{
            @include flex-align-center;
            width: 93%;
        }
    }  
    .menu__carte{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    h3{
        width: 50%;
        font-family: "Roboto", serif;
        font-weight: 300;
        font-style: normal;
        text-transform : uppercase;
    }
}
@keyframes apparition {
    to{
        opacity: 1;
    }
}

@for $i from 1 through 10 {
    .carte--#{$i} {
    opacity: 0;
    animation: apparition 1000ms*$i 0ms both;
    }
}

.carte__description{
    background:  var(--white-color);
    border-radius: 20px;
    height: 72px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .plat_acc{
        transform: translateX(0%);
        margin-left: 5%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .plat, .accompagnement{
            height: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    p{
        margin: 0;
        line-height: 36px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .prix_valide{
        background: #99E2D0;
        width: 30%;
        transform: translateX(50%);
        transition: transform 1000ms;
        .valide{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--light-green);
        }
        .prix{
            width: 50%;
            height: 100%;
            background: var(--white-color);
            border-left: solid 1px #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: last baseline;
        }
        i{
            transform: rotate(280deg);
            transition: transform  1000ms ease-in-out 100ms;
            color: var(--white-color);
            font-weight: 600;
            display: flex;
            flex-direction: row;
        }
    }

    &:active{
        .valide{
            background: var(--light-green);
        }
        .prix_valide{ 
            display: flex;
            flex-direction: row;
            transform: translateX(0);
        }
        i{
            transform: rotate(0);
        }
    }
    &:hover{
        @media screen and (min-width: 1024px) {
            .valide{
                background: var(--light-green);
            }
            .prix_valide{ 
                display: flex;
                flex-direction: row;
                transform: translateX(0);
            }
            i{
                transform: rotate(0);
            }
        } 
    }
    
}

.commander{
    @include btn;
    width: 186px;
    height: 50px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: auto; 
    &:active{
        @include survol-btn;
    }
    &:hover{
        @media screen and (min-width: 1024px){
            @include survol-btn;
        }
    }
}