/** general **/
* {
  box-sizing: border-box;
}

:root {
  --light-grey: #F3F3F3;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --light-green: #99E2D0;
  --dark-green: #008766;
  --light-blue: #89C8FA;
  --dark-blue: #003A68;
  --purple: #9356DC;
  --background-grey: #EAEAEA;
  --background-light-grey: #F6F6F6;
  --background-footer: #353535;
}

body, h1, h2, h3 {
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  margin: 0;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.main-container {
  min-width: 375px;
}

.bordure-phone {
  width: 84%;
}
@media screen and (max-width: 768px) {
  .bordure-phone {
    width: 75%;
  }
}

/** debut animation et transition **/
/** debut mixin bouton et survol **/
/** fin mixin bouton et survol**/
/** debut coeur **/
.coeur {
  margin-left: auto;
  height: 20px;
  width: 20px;
  position: relative;
}
.coeur .fa-heart {
  font-size: 21px;
}
.coeur .fa-regular {
  position: absolute;
}
.coeur .fa-solid {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  position: absolute;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.coeur .fa-solid:active {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .coeur .fa-solid:hover {
    opacity: 1;
  }
}

/** fin coeur **/
/** debut loader **/
.loader {
  background-color: #FFFFFF;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  opacity: 0.97;
  animation: reduire-loader 500ms 1500ms forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .cercle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border: solid var(--light-green) 10px;
  transform: scale(1);
  animation: cercle 500ms ease 3;
}
.loader p {
  color: var(--light-green);
  font-size: 32px;
  font-family: "Shrikhand", serif;
  font-weight: 700;
}

@keyframes cercle {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes reduire-loader {
  to {
    visibility: hidden;
  }
}
/** fin loader**/
/** fin animation et transition **/
/* ***************************************** */
/** header **/
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header a {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header a img {
  width: 162px;
  height: 44px;
}
header a .fleche {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 6%;
}
header div {
  height: 50px;
  display: flex;
  align-items: center;
  background: var(--background-grey);
  width: 100%;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px black;
}

.title {
  height: 287px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--light-grey);
  text-align: center;
}
.title h1 {
  width: 70%;
}
.title > p {
  width: 84%;
}
@media screen and (min-width: 768px) {
  .title > p {
    width: 100%;
  }
}
.title a {
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 black;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 500;
  color: var(--white-color);
  text-decoration: none;
  transition: all 500ms ease-in-out;
  width: 218px;
  height: 50px;
}
.title a:active {
  background: #bc95e9;
  box-shadow: 0 4px 15px 0 black;
}
@media screen and (min-width: 1024px) {
  .title a:hover {
    background: #bc95e9;
    box-shadow: 0 4px 15px 0 black;
  }
}

.h2fonctionnement {
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  .h2fonctionnement {
    height: 228px;
  }
}
.h2fonctionnement h2 {
  font-weight: 700;
}
.h2fonctionnement h3 {
  color: var(--black-color);
  font-weight: 500;
}
.h2fonctionnement .fonctionnement {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  counter-reset: numero;
}
@media screen and (min-width: 1024px) {
  .h2fonctionnement .fonctionnement {
    flex-direction: row;
  }
}
.h2fonctionnement .fonctionnement a {
  width: 100%;
  text-decoration: none;
}
.h2fonctionnement .fa-mobile-screen-button, .h2fonctionnement .fa-list-ul {
  color: #7E7E7E;
}
.h2fonctionnement .fonctionnement__button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  background: var(--background-light-grey);
  border-radius: 20px;
  height: 72px;
  width: 100%;
  position: relative;
}
.h2fonctionnement .fonctionnement__button::before {
  content: "" counter(numero);
  counter-increment: numero;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
  background: var(--purple);
  color: var(--white-color);
  position: absolute;
  left: -9px;
}
.h2fonctionnement .fonctionnement__button::before h3 {
  color: var(--black-color);
}

.h2-resto {
  background: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
}
.h2-resto img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.h2-resto .restaurants {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .h2-resto .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.h2-resto .restaurants a {
  height: 240px;
  width: 100%;
  background: var(--white-color);
  border-radius: 15px 15px 0 0;
  position: relative;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .h2-resto .restaurants a {
    width: 45%;
  }
}
.h2-resto .restaurants .nouveau::before {
  content: "nouveau";
  width: 80px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  position: absolute;
  border-radius: 2px;
  background: var(--light-green);
  color: #008766;
  box-shadow: 0 2px 4px 0 black;
  right: 4%;
  top: 7%;
}
.h2-resto .restaurants .info-resto {
  color: var(--black-color);
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 25% 30%;
}
.h2-resto .restaurants .info-resto .coeur {
  grid-column: 2/3;
  grid-row: 2/3;
  left: -30px;
}
.h2-resto .restaurants .info-resto h3 {
  font-weight: 700;
}
.h2-resto .restaurants .info-resto p {
  grid-column: 1/2;
  font-weight: 300;
}

footer {
  background: var(--background-footer);
  padding-top: 40px;
  border-bottom: 1px solid var(--background-footer);
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
    position: relative;
    right: -80px;
  }
}
footer ul {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 0;
}
@media screen and (min-width: 768px) {
  footer ul {
    flex-direction: row;
  }
}
footer ul a {
  color: var(--white-color);
  text-decoration: none;
}
footer ul li:nth-child(-n+2) {
  font-weight: 500;
}
footer ul i {
  margin-right: 15px;
}

/** carte restaurant **/
.conteneur-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.conteneur-menu .menu-img {
  height: 275px;
  width: 100%;
}
.conteneur-menu .menu-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
  position: absolute;
}
.conteneur-menu .contour-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px 30px 0 0;
  position: relative;
  padding: 30px 0 45px 0;
  top: -45px;
  margin-bottom: -45px;
  background-color: var(--background-grey);
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .conteneur-menu .contour-menu {
    width: 80%;
  }
}
.conteneur-menu .menu {
  width: 88%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.conteneur-menu .menu .menu-h2 {
  display: flex;
  align-items: center;
  width: 93%;
}
.conteneur-menu .menu__carte {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.conteneur-menu h3 {
  width: 50%;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

@keyframes apparition {
  to {
    opacity: 1;
  }
}
.carte--1 {
  opacity: 0;
  animation: apparition 1000ms 0ms both;
}

.carte--2 {
  opacity: 0;
  animation: apparition 2000ms 0ms both;
}

.carte--3 {
  opacity: 0;
  animation: apparition 3000ms 0ms both;
}

.carte--4 {
  opacity: 0;
  animation: apparition 4000ms 0ms both;
}

.carte--5 {
  opacity: 0;
  animation: apparition 5000ms 0ms both;
}

.carte--6 {
  opacity: 0;
  animation: apparition 6000ms 0ms both;
}

.carte--7 {
  opacity: 0;
  animation: apparition 7000ms 0ms both;
}

.carte--8 {
  opacity: 0;
  animation: apparition 8000ms 0ms both;
}

.carte--9 {
  opacity: 0;
  animation: apparition 9000ms 0ms both;
}

.carte--10 {
  opacity: 0;
  animation: apparition 10000ms 0ms both;
}

.carte__description {
  background: var(--white-color);
  border-radius: 20px;
  height: 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.carte__description .plat_acc {
  transform: translateX(0%);
  margin-left: 5%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.carte__description .plat_acc .plat, .carte__description .plat_acc .accompagnement {
  height: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.carte__description p {
  margin: 0;
  line-height: 36px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.carte__description .prix_valide {
  background: #99E2D0;
  width: 30%;
  transition: all 1000ms;
  display: inline-block;
  margin-right: -15%;
}
.carte__description .prix_valide .valide {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-green);
}
.carte__description .prix_valide .prix {
  width: 50%;
  height: 100%;
  background: var(--white-color);
  border-left: solid 1px #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: last baseline;
}
.carte__description .prix_valide i {
  transform: rotate(280deg);
  transition: transform 1000ms ease-in-out 100ms;
  color: var(--white-color);
  font-weight: 600;
  display: flex;
  flex-direction: row;
}
.carte__description:active .valide {
  background: var(--light-green);
}
.carte__description:active .prix_valide {
  display: flex;
  flex-direction: row;
  margin-right: 0;
}
.carte__description:active i {
  transform: rotate(0);
}
@media screen and (min-width: 1024px) {
  .carte__description:hover .valide {
    background: var(--light-green);
  }
  .carte__description:hover .prix_valide {
    display: flex;
    flex-direction: row;
    transform: translateX(0);
    margin-right: 0;
  }
  .carte__description:hover i {
    transform: rotate(0);
  }
}

.commander {
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 black;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 500;
  color: var(--white-color);
  text-decoration: none;
  transition: all 500ms ease-in-out;
  width: 186px;
  height: 50px;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.commander:active {
  background: #bc95e9;
  box-shadow: 0 4px 15px 0 black;
}
@media screen and (min-width: 1024px) {
  .commander:hover {
    background: #bc95e9;
    box-shadow: 0 4px 15px 0 black;
  }
}/*# sourceMappingURL=style.css.map */